body {
    font-family: Arial;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.page-wrapper {
    min-height: 100%;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    color: white;
    background-image: url("/static/images/coffee.20ce03e16eba.jpg");
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbarr {
    overflow: hidden;
    background-color: #333;

}

/* Style the navigation bar links */
.navbarr a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbarr a.right {
    float: right;
}

/* Change color on hover */
.navbarr a:hover {
    background-color: #ddd;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Column container */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding-left: 20px;

}

/* Main column */
.main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
    flex-grow: 1;
}

.main img {
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .1s linear;
}

.main img:hover {
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    width: 52%;

}

.main p {
    margin-top: 10px;
    font-size: 20px;
}

.article {

    padding-left: 20px;
}

.article h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.article h2 {
    text-align: center;
    font-size: 30px;
}

.article img {
    width: 50%;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}


.article p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    padding-top: 20px;

}


/* Footer */
.footer {
    text-align: center;
    background: #303036;
    color: #d3d3d3;
    height: 200px;
    position: relative;
    width: 100%;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer .footer-section .about {
    width: 100%;

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.title a {
    text-decoration: none;
    color: Black;
    transition: color 0.2s linear;
}

.title a:hover {
    text-decoration: underline;
    color: #686868;
}

.main-title a {
    text-decoration: none;
    color: #ffffff;
}

.main-title a:hover {
    text-decoration: underline;
}


ul {
    list-style: none;
}

.footer .instagram {
    list-style-image: url("/static/images/instagram.03e6507a96f5.png");
    text-align: center;
}

.footer .vk {
    list-style-image: url("/static/images/vk.55457ca6d835.png");
}

.footer a {
    text-align-all: center;
    font-size: x-large;
    color: #f1f1f1;
    text-decoration: none;

}

.footer a:hover {
    text-decoration: underline;

}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #686868;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;

    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 30px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.dislike-button {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 4px;
}

.like-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 4px;
}

/* Menu */

.menu img {
    display: block;
    margin: auto;
    width: 40%;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu h2 {
    text-align: center;
    font-family: monospace;
    font-size: 38px;
}

.menu h1 {
    text-align: center;
    font-family: monospace;
    font-size: 42px;
    font-weight: bold;
}

.menu p {
    text-align: center;
    font-size: 20px;
}

.add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 44%;
    border-radius: 4px;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 43%;
    border-radius: 4px;

}

.menu a {
    text-decoration: none;
    color: Black;
    transition: color 0.2s linear;
}

.menu a:hover {
    text-decoration: underline;
    color: #686868;
}

/* Comments */
.panel-primary {
    border-color: #293b99
}

.panel-primary .panel-heading {
    color: #fff;
    background-color: #293b99;
    border-color: #293b99;

}


.media-body .author {
    display: block;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
}

.media-body .metadata {
    display: block;
    color: #fff;
    font-size: .8125rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.media-left img {
    width: 70px;
}

.media {
    margin-top: 0px;
}

.img-rounded {
    border-radius: 50%;
    margin: 5px;
}

.media-text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;

}