{% extends 'base.html' %}

{% block head %}
    <title>Dessert</title>
{% endblock %}

{% block content %}
    <div class="menu">
        <h2>{{ dessert.name }}</h2>
        <img src="{{ dessert.dessert_picture.url }}" width=50%>
        <p>Price: {{ dessert.price }} $ </p>
        <p>Calorific: {{ dessert.calorific }}</p>
        <form action="{% url 'detail_dessert' dessert.id %}" method="post">
            {% csrf_token %}
            {% if in_favourite %}
                <button type="submit" name="product_id" class="delete-button" value= {{ dessert.id }}>Delete from
                    favourite
                </button>
            {% else %}
                <button type="submit" name="product_id" class="add-button" value= {{ dessert.id }}>Add to favourite
                </button>
            {% endif %}
        </form>
        <br>
    </div>
{% endblock content %}